---
import Layout from '@/layouts/Layout.astro'
import HeroText from '@/components/HeroText.astro'
import ListTier from '@/components/ListTier.astro'
---

<Layout title="Tier List Maker for Geovas - 😸">
  <main class="flex flex-col gap-16 md:gap-20 justify-center items-center">
    <HeroText />
    <ListTier />
  </main>
</Layout>