<footer class="h-[100px] relative border-gray-100 flex flex-col justify-center items-center">
  <hr
    class="absolute top-0 h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
  />
  <h2>
    © 2024 <span class="text-yellow-400/90"> Geovany Rincón </span> - <span class="text-primary">Tier List Maker</span>
  </h2>
</footer>
